* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
    padding: 10rem;
}

#sedans {
  background-color: hsl(31, 77%, 52%);
}

#SUVs {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
    background-color: hsl(179, 100%, 13%);
}